NODE_ENV=development
API_PORT=4000
WEB_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/messaging-crm
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=dev-super-secret-change-me
MOCK_WHATSAPP=true
META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
